h1 {
  color: white;
}

video {
  width: 100%;
}

.video-wrapper {
  width: 100%;
  min-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  display: inline-block;
  height: 70%;
}

.paused {
  visibility: visible !important;
}

.video-wrapper:hover .controls {
  visibility: visible;
}

.icon {
  display: flex;
  align-items: center;
}

.controls {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  bottom: 3px;
  left: 0;
  height: 55px;
  padding-left: 5px;
  padding-right: 5px;
  width: calc(100% - 10px);
  background: rgb(0 0 0 / 71%);
  /* box-shadow: 0 0 40px 10px rgb(0 0 0 / 25%); */
  z-index: 3;
  transition: visibility 0.3s;
}

.actions {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.actions-left {
  display: flex;
}
.actions-left:nth-child(0n + 1) {
  padding-left: 5px;
}

.actions-right {
  display: flex;
}

.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
  width: 30px;
}

.velocity {
  appearance: none;
  background: none;
  color: white;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}

.volume_box {
  display: flex;
  align-items: center;
}

.timer {
  color: white;
  display: flex;
  align-items: center;
}

.progressAreaTime {
  position: absolute;
  left: var(--x);
  transform: translateX(-45%);
  bottom: 60px;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  background: #002333;
  border-radius: 5px;
  z-index: 0;
  display: none;
}
/* .progressAreaTime::before {
  content: "";
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #002333;
  width: 15px;
  height: 15px;
  z-index: -1;
} */

.volume_range {
  -webkit-appearance: none;
  width: 0px;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(white 100%, white 0%);
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  transition: width 0.4s;
  background-repeat: no-repeat;
}
.controls .icon .volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #fff;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}
.controls .icon:hover .volume_range {
  display: inline-block;
  width: 60px;
}
.controls .icon:hover .volume_range::-webkit-slider-thumb {
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.velocity {
  position: absolute;
  right: 25px;
  bottom: 62px;
  background: rgb(28 28 28 / 90%);
  width: 200px;
  height: 250px;
  color: #fff;
  overflow-y: scroll;
  z-index: 20;
}

.material-icons.settingsBtn {
  font-size: 24px;
  color: white;
}

#settings {
  position: absolute;
  right: 25px;
  bottom: 62px;
  background: rgb(28 28 28 / 90%);
  width: 200px;
  height: 250px;
  color: #fff;
  overflow-y: scroll;
  z-index: 20;
  display: none;
}
#settings.active {
  display: block;
}
.playback span {
  font-size: 14px;
  font-weight: 300;
  padding: 15px 30px;
  display: block;
  border-bottom: 1px solid rgb(83, 83, 83);
}
.playback ul {
  position: relative;
  padding: 0;
}
.playback ul li {
  position: relative;
  /* width: 100%; */
  cursor: pointer;
  text-align: left;
  padding: 12px 33px;
  display: block;
  font-size: 14px;
}
.playback ul li:hover {
  background: rgba(28, 28, 28, 0.9);
}

.playback ul li.active::before {
  content: "\e876";
  font-family: "Material Icons";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
  font-size: 18px;
}

#settings::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#settings::-webkit-scrollbar-thumb {
  height: 20px;
  border: 2px solid transparent;
  background: rgba(83, 83, 83, 0.9);
  border-radius: 20px;
}
